.m-latest-list {
    position: relative;
    margin-bottom: 20px;
    height: 400px;
    background-color: var(--background-color);
    border-radius: 10px;
    border: 1px solid var(--secondary-border-color);
    padding: 20px 25px;

    &:before {
        content: '';
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 0;
        left: 10px;
        border-radius: 10px;
        @include bs(var(--article-shadow-normal));
        z-index: -1;
    }

    @include respond-to('medium') {
        width: calc((100% / 2) - 20px);
        height: 420px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    @include respond-to('large') {
        width: calc((100% / 3) - 40px);
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
    }
}

.m-latest-list__title {
    color: var(--secondary-foreground-color);
    letter-spacing: 0.5px;
    font-size: 1.75em;
    max-width: 70%;
    font-weight: 600;
    margin: 0 0 25px;

    @include respond-to('large') {
        font-size: 2em;
    }
}

.m-latest-list__more {
    color: var(--secondary-foreground-color);
    letter-spacing: 0.3px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1;
    position: absolute;            
    top: 25px;
    right: 20px;
    display: inline-flex;
    background-color: var(--table-head-border-bottom);
    padding: 5px 10px;
    border-radius: 15px;
}