.m-latest-card {
    display: block;

    &:not(:last-child) {
        margin: 0 0 25px;
    }
}

.m-latest-card__title {
    color: var(--titles-color);
    line-height: 1.3;
    font-size: 1.2rem;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0 0 12px;
}

.m-latest-card__timestamp {
    color: var(--titles-color);
    letter-spacing: 0.2px;
    font-size: 0.875rem;
}